* {
  box-sizing: border-box;
}

body {
  @trait(type: base);
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
}
.flex.wrap {
	flex-wrap: wrap;
}
