@define-placeholder logo {
  font-family: "Avenir Next", "Arial Black";
  font-weight: 700;
  letter-spacing: 5px;
}

@define-placeholder headings {
  font-family: "Avenir Next", "Arial Black";
  font-weight: 400;
  letter-spacing: 5px;
}
