@define-placeholder flex {
  display: flex;
}

@define-placeholder flex:inline {
  display: inline-flex;
}

@define-placeholder flex:vertical {
  flex-direction: column;
}

@define-placeholder flex:wrap {
  flex-wrap: wrap;
}

@define-placeholder flex:start {
  justify-content: start;
}
@define-placeholder flex:center {
  justify-content: center;
}

@define-placeholder flex:align-start {
  align-items: flex-start;
}
@define-placeholder flex:align-center {
  align-items: center;
}
@define-placeholder flex:align-baseline {
  align-items: baseline;
}

@define-placeholder flex-child {
}
@define-placeholder flex-child:no-shrink {
  flex-shrink: 0;
}
@define-placeholder flex-child:grow {
  flex-grow: 1;
}
