@define-mixin layout {
}
@define-mixin layout:p0.25 {
  padding: 0.25rem;
}
@define-mixin layout:p0.5 {
  padding: 0.5rem;
}
@define-mixin layout:p1 {
  padding: 1rem;
}
@define-mixin layout:p2 {
  padding: 2rem;
}

@define-mixin layout:pt0.25 {
  padding-top: 0.25rem;
}
@define-mixin layout:pr0.25 {
  padding-right: 0.25rem;
}
@define-mixin layout:pb0.25 {
  padding-bottom: 0.25rem;
}
@define-mixin layout:pl0.25 {
  padding-left: 0.25rem;
}

@define-mixin layout:pt0.5 {
  padding-top: 0.5rem;
}
@define-mixin layout:pr0.5 {
  padding-right: 0.5rem;
}
@define-mixin layout:pb0.5 {
  padding-bottom: 0.5rem;
}
@define-mixin layout:pl0.5 {
  padding-left: 0.5rem;
}

@define-mixin layout:pt1 {
  padding-top: 1rem;
}
@define-mixin layout:pr1 {
  padding-right: 1rem;
}
@define-mixin layout:pb1 {
  padding-bottom: 1rem;
}
@define-mixin layout:pl1 {
  padding-left: 1rem;
}

@define-mixin layout:pt2 {
  padding-top: 2rem;
}
@define-mixin layout:pr2 {
  padding-right: 2rem;
}
@define-mixin layout:pb2 {
  padding-bottom: 2rem;
}
@define-mixin layout:pl2 {
  padding-left: 2rem;
}

@define-mixin layout:m0.25 {
  margin: 0.25rem;
}
@define-mixin layout:m0.5 {
  margin: 0.5rem;
}
@define-mixin layout:m1 {
  margin: 1rem;
}
@define-mixin layout:m2 {
  margin: 2rem;
}

@define-mixin layout:mt0.25 {
  margin-top: 0.25rem;
}
@define-mixin layout:mr0.25 {
  margin-right: 0.25rem;
}
@define-mixin layout:mb0.25 {
  margin-bottom: 0.25rem;
}
@define-mixin layout:ml0.25 {
  margin-left: 0.25rem;
}

@define-mixin layout:mt0.5 {
  margin-top: 0.5rem;
}
@define-mixin layout:mr0.5 {
  margin-right: 0.5rem;
}
@define-mixin layout:mb0.5 {
  margin-bottom: 0.5rem;
}
@define-mixin layout:ml0.5 {
  margin-left: 0.5rem;
}

@define-mixin layout:mt1 {
  margin-top: 1rem;
}
@define-mixin layout:mr1 {
  margin-right: 1rem;
}
@define-mixin layout:mb1 {
  margin-bottom: 1rem;
}
@define-mixin layout:ml1 {
  margin-left: 1rem;
}

@define-mixin layout:mt2 {
  margin-top: 2rem;
}
@define-mixin layout:mr2 {
  margin-right: 2rem;
}
@define-mixin layout:mb2 {
  margin-bottom: 2rem;
}
@define-mixin layout:ml2 {
  margin-left: 2rem;
}

